.only-filter[data-v-3e66491d] {
  backdrop-filter: blur(3.125vw);
}

.layout-header[data-v-3e66491d] {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.layout-header .header-content[data-v-3e66491d] {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 4.16667vw;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Alibaba PuHuiTi 3.0";
  font-size: 0.83333vw;
  font-style: normal;
}

.layout-header .header-content .item[data-v-3e66491d] {
  padding: 0 1.66667vw;
}

.layout-header .header-content .item.header-center[data-v-3e66491d] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.layout-header .header-content .item.header-left[data-v-3e66491d] {
  font-weight: 700;
  font-family: AlibabaPuHuiTi-Bold;
  display: flex;
}

.layout-header .header-content .item.header-left span[data-v-3e66491d] {
  line-height: 2.08333vw;
}

.layout-header .header-content .item.header-left .header-back[data-v-3e66491d] {
  width: 2.08333vw;
  height: 2.08333vw;
  padding-right: 1.25vw;
}

.layout-header
  .header-content
  .item.header-left
  .header-back
  i[data-v-3e66491d] {
  background: url(../../src/assets/course-icons/arrow-left-circle.svg) no-repeat
    50%;
  background-size: 2.08333vw;
  cursor: pointer;
  display: block;
  width: 2.08333vw;
  height: 2.08333vw;
}

.layout-header .header-content .item .theme-mode[data-v-3e66491d] {
  display: flex;
  margin: 0 2.5vw;
  align-items: center;
  justify-content: space-between;
  gap: 1.66667vw;
  position: relative;
}

.layout-header .header-content .item .theme-mode[data-v-3e66491d]:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1px;
  height: 1.04167vw;
}

.layout-header
  .header-content
  .item[data-v-3e66491d]
  .el-badge
  .el-badge__content {
  right: 0.52083vw;
  top: 0.26042vw;
  border: none;
}

.layout-header .header-content .item.header-right[data-v-3e66491d] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.layout-header .header-content .item.header-right .el-tooltip[data-v-3e66491d] {
  margin-right: 2.08333vw;
}

.layout-header .header-content .item.header-right .icon-item[data-v-3e66491d] {
  position: relative;
  cursor: pointer;
  padding: 1.04167vw;
  border-radius: 0.625vw;
  width: 2.08333vw;
  height: 2.08333vw;
  box-sizing: border-box;
  background-color: transparent;
  background-size: 2.08333vw;
  background-repeat: no-repeat;
  background-position: 0.10417vw 0.10417vw;
}

.layout-header
  .header-content
  .item.header-right
  .icon-item[data-v-3e66491d]:hover {
  background-color: hsla(0, 0%, 100%, 0.08);
}

.layout-header .header-content .item.header-right .popper1[data-v-3e66491d] {
  position: relative;
}

.layout-header
  .header-content
  .item.header-right[data-v-3e66491d]
  .el-avatar
  img {
  width: 100%;
}

.layout-header .header-content .item.header-right .user-info[data-v-3e66491d] {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.layout-header
  .header-content
  .item.header-right
  .user-info
  .user[data-v-3e66491d] {
  margin-left: 0.41667vw;
  font-family: Poppins;
  font-size: 0.72917vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14583vw;
}

.layout-header
  .header-content
  .item.header-right
  .user-info
  .user
  .name[data-v-3e66491d] {
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 700;
  font-family: AlibabaPuHuiTi-Bold;
}

.layout-header .header-content.hide[data-v-3e66491d] {
  transform: translateY(-5.20833vw);
}

.hover-area[data-v-3e66491d] {
  width: 100%;
  height: 1.5625vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
}

.light .avatar-info .name,
.light .current-time,
.light .el-submenu__title,
.light .fu-header-users {
  color: #000 !important;
}

.light.fu-header-users-3 {
  overflow: hidden;
}

.light.fu-header-users-3,
.light.fu-header-users-3 .el-menu {
  background: #1c1c1c !important;
}

.light.fu-header-users-3 .fu-i {
  color: hsla(0, 0%, 100%, 0.8);
}

.light.fu-header-users-3 .fu-i.fu-header-f1:after {
  background-image: url(../images/fu-header-f1.png);
}

.light.fu-header-users-3 .fu-i.fu-header-f2:after {
  background-image: url(../images/fu-header-f2.png);
}

.light.fu-header-users-3 .fu-i:hover {
  background: hsla(0, 0%, 100%, 0.08) !important;
  color: #47ffff !important;
}

.light.fu-header-users-3 .fu-i:hover.fu-header-f1:after {
  background-image: url(../images/fu-header-f1-hover.png);
}

.light.fu-header-users-3 .fu-i:hover.fu-header-f2:after {
  background-image: url(../images/fu-header-f2-hover.png);
}

.dark .avatar-info .name,
.dark .el-submenu__title,
.dark .fu-header-users {
  color: #fff !important;
}

.fu-header-users,
.fu-header-users .el-submenu__title {
  background-color: transparent !important;
  border-bottom: none !important;
}

.fu-header-users .el-submenu__title {
  color: #fff !important;
  padding: 0 0.3125vw !important;
  height: 2.29167vw;
  line-height: 2.29167vw;
}

.fu-header-users .el-submenu__title:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.fu-header-users .el-submenu__icon-arrow {
  display: none !important;
}

.fu-header-users .avatar-info .avatar {
  width: 2.08333vw;
  height: 2.08333vw;
  border-radius: 1.04167vw;
}

.fu-header-users .avatar-info .name {
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 700;
  margin-left: 0.41667vw;
}

.fu-header-users-3 {
  z-index: 4000 !important;
  background: #fff !important;
  backdrop-filter: blur(2.08333vw) !important;
}

.fu-header-users-3,
.fu-header-users-3 .el-menu {
  width: 6.25vw !important;
  box-sizing: border-box;
  border-radius: 0.625vw !important;
}

.fu-header-users-3 .el-menu {
  padding: 0.20833vw 0 0.52083vw 0 !important;
  background: transparent !important;
}

.fu-header-users-3 .fu-header-1 {
  background: transparent !important;
  box-sizing: border-box;
  color: #000 !important;
  height: 2.5vw !important;
  line-height: 2.5vw !important;
  padding: 0 0.41667vw !important;
}

.fu-header-users-3 .fu-i {
  display: block;
  width: 5.41667vw;
  position: relative;
  box-sizing: border-box;
  padding-left: 1.66667vw;
}

.fu-header-users-3 .fu-i:hover {
  border-radius: 0.41667vw;
  background: hsla(0, 0%, 100%, 0.08);
}

.fu-header-users-3 .fu-header-f1:after {
  background-image: url(/img/setting.f563bd46.svg);
}

.fu-header-users-3 .fu-header-f1:after,
.fu-header-users-3 .fu-header-f2:after {
  position: absolute;
  left: 0.41667vw;
  top: 0.72917vw;
  display: block;
  content: "";
  width: 1.04167vw;
  height: 1.5625vw;
  background-repeat: no-repeat;
  background-size: 1.04167vw;
  background-position: 0 0;
}

.fu-header-users-3 .fu-header-f2:after {
  background-image: url(/img/security.653bf422.svg);
}

.header-popper {
  display: none;
  min-width: 5.20833vw;
  width: 6.25vw !important;
  padding: 0;
  border: 0;
  padding: 0.41667vw;
  border-radius: 0.625vw;
  background: hsla(0, 0%, 100%, 0.07);
  backdrop-filter: blur(2.08333vw);
  position: absolute;
  top: 2.5vw;
  box-sizing: border-box;
  left: -0.36458vw;
  opacity: 0;
  transition: opacity 1s;
}

.header-popper .list .item {
  position: relative;
  padding: 0.625vw 0.41667vw !important;
  padding-left: 1.875vw;
  height: 2.5vw;
  line-height: 1.25vw;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.41667vw;
  color: hsla(0, 0%, 100%, 0.8) !important;
  font-size: 0.83333vw;
  display: flex;
  text-align: justify;
  padding-left: 1.5625vw !important;
}

.header-popper .list .item:after {
  position: absolute;
  left: 0.41667vw;
  top: 0.72917vw;
  display: block;
  content: "";
  width: 1.04167vw;
  height: 1.5625vw;
  background-image: url(../img/setting.f563bd46.svg);
  background-repeat: no-repeat;
  background-size: 1.04167vw;
  background-position: 0 0;
}

.header-popper .list .item:hover {
  background: hsla(0, 0%, 100%, 0.1);
  color: #fff !important;
}

.header-popper .list .item:hover:after {
  background-image: url(../img/setting2.28d2d979.svg);
  background-repeat: no-repeat;
  background-size: 1.04167vw;
  background-position: 0 0;
}

.header-popper .list .item:last-child:after {
  position: absolute;
  left: 0.41667vw;
  top: 0.72917vw;
  display: block;
  content: "";
  width: 1.04167vw;
  height: 1.5625vw;
  background-image: url(../img/security.653bf422.svg);
  background-repeat: no-repeat;
  background-size: 1.04167vw;
  background-position: 0 0;
}

.header-popper .list .item:last-child:hover:after {
  background-image: url(../img/security2.678efc80.svg);
  background-repeat: no-repeat;
  background-size: 1.04167vw;
  background-position: 0 0;
}

.tuikeMypopper {
  width: 4.58333vw;
  box-sizing: border-box;
  border-radius: 0.625vw;
  background: hsla(0, 0%, 100%, 0.08) !important;
  backdrop-filter: blur(2.08333vw);
  z-index: 9999999 !important;
  padding: 0.41667vw;
}

.tuikeMypopper .tuike {
  padding: 0.625vw 0.41667vw;
  width: auto;
  line-height: 1.04167vw;
  padding-left: 1.35417vw;
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 400;
  border-radius: 0.41667vw;
  background-image: url(../../src/assets/course-icons/arrow-right-md.svg);
  background-size: 1.04167vw 1.04167vw;
  background-position: 0.3125vw 0.57292vw;
  background-repeat: no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.8) !important;
  padding-left: 1.5625vw;
}

.tuikeMypopper:hover .tuike {
  background: hsla(0, 0%, 100%, 0.08);
  background-image: url(../../src/assets/course-icons/arrow-right-md.svg);
  background-size: 1.04167vw 1.04167vw;
  background-position: 0.3125vw 0.57292vw;
  background-repeat: no-repeat;
  color: #fff !important;
}

.tuikeMypopper .popper__arrow {
  display: none;
}

.topMypopper {
  width: 4.58333vw !important;
  box-sizing: border-box;
  border-radius: 0.625vw;
  background: hsla(0, 0%, 100%, 0.08) !important;
  backdrop-filter: blur(2.08333vw);
  z-index: 9999999 !important;
  padding: 0.41667vw;
  height: 3.33333vw;
  line-height: 2.5vw;
  color: hsla(0, 0%, 100%, 0.8) !important;
  font-size: 0.83333vw;
  cursor: pointer;
}

.topMypopper .popper__arrow {
  display: none;
}

.topMypopper:hover {
  color: #fff !important;
}

.popper-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.brepopper {
  width: 2.29167vw;
  height: 2.29167vw;
  position: relative;
  z-index: 99999;
  margin-left: 2.08333vw;
}

.brepopper .tag {
  position: absolute;
  right: -0.9375vw;
  top: 0;
  display: block;
  width: 1.875vw;
  height: 0.83333vw;
  background-image: url(../images/tag-icon.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2000;
}

.brepopper .yuandian {
  width: 0.41667vw;
  height: 0.41667vw;
  border-radius: 50%;
  background: url(../images/yuandian-icon.png)
    no-repeat 50%;
  position: absolute;
  top: 0.41667vw;
  right: 0.52083vw;
}

.brepopper .new-icon {
  width: 2.29167vw !important;
  height: 2.29167vw !important;
}

.brepopper .icon-hover {
  width: 4.53125vw;
  background-color: #000;
  height: 1.66667vw;
  line-height: 1.66667vw;
  text-align: center;
  backdrop-filter: blur(2.08333vw);
  border-radius: 0.41667vw;
  position: absolute;
  top: 2.76042vw;
  left: 1.82292vw;
  margin-left: -3.125vw;
  opacity: 0;
  transition: opacity 1s;
}

.brepopper .icon-hover:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.3125vw solid transparent;
  border-right: 0.3125vw solid transparent;
  border-bottom: 0.3125vw solid hsla(0, 0%, 100%, 0.08);
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -0.3125vw;
  left: 2.1875vw;
}

.brepopper .tuikeIcon {
  width: 4.58333vw;
  box-sizing: border-box;
  border-radius: 0.625vw;
  backdrop-filter: blur(2.08333vw);
  padding: 0.41667vw;
  position: relative;
  top: 1.5625vw;
  left: -2.08333vw;
  opacity: 0;
  transition: opacity 1s;
}

.brepopper .tuikeIcon .tuike {
  padding: 0.625vw 0.41667vw;
  width: auto;
  line-height: 1.04167vw;
  padding-left: 1.35417vw;
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 400;
  border-radius: 0.41667vw;
  background-image: url(../../src/assets/course-icons/arrow-right-md.svg);
  background-size: 1.04167vw 1.04167vw;
  background-position: 0.3125vw 0.57292vw;
  background-repeat: no-repeat;
  box-sizing: border-box;
  cursor: pointer;
}

.brepopper .tuikeIcon:hover .tuike {
  background: hsla(0, 0%, 100%, 0.08);
  background-image: url(../../src/assets/course-icons/arrow-right-md.svg);
  background-size: 1.04167vw 1.04167vw;
  background-position: 0.3125vw 0.57292vw;
  background-repeat: no-repeat;
  color: #fff !important;
}

.brepopper .new-icon:hover .icon-hover,
.brepopper .new-icon:hover .tuikeIcon {
  visibility: visible;
  opacity: 1;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.user-info .avatar {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: #fff;
  background: #c0c4cc;
  width: 2.08333vw;
  height: 2.08333vw;
  line-height: 2.08333vw;
  font-size: 0.72917vw;
  border-radius: 50%;
  line-height: 40px;
}

.user-info:hover .header-popper {
  opacity: 1;
  display: block;
}

.courseRemind .el-dialog__body {
  padding-right: 0.625vw;
}

.khfaPop .el-scrollbar .el-scrollbar__bar {
  right: 0;
}

.khfaPop .el-scrollbar__wrap {
  margin-right: -0.20833vw !important;
}

.header-popper.el-tooltip__popper[data-v-3e66491d],
.mypopper.el-tooltip__popper.is-dark[data-v-3e66491d] {
  background-color: #000;
}

.el-tooltip__popper[x-placement^="bottom"] .popper__arrow[data-v-3e66491d],
.el-tooltip__popper[x-placement^="bottom"]
  .popper__arrow[data-v-3e66491d]:after {
  border-right-color: #000 !important;
}

.header-slot-box svg[data-v-3e66491d] {
  vertical-align: text-bottom;
}

.courseRemind .newAiPop .el-dialog__header i[data-v-3e66491d] {
  transform: translate(0.52083vw, -1.5625vw);
  right: 1.5625vw;
  top: 0.67708vw;
}

.courseRemind .newAiPop .study-before-texts[data-v-3e66491d] {
  font-family: AlibabaPuHuiTi-Black;
  margin-left: 0.26042vw;
}

.courseRemind .newAiPop .qrcode[data-v-3e66491d] {
  width: 12.5vw;
}

.courseRemind .newAiPop .text-top[data-v-3e66491d] {
  margin-left: 1.71875vw;
  color: hsla(0, 0%, 100%, 0.8);
  font-family: AlibabaPuHuiTi-Bold;
  font-size: 0.83333vw;
}

.courseRemind .newAiPop .warn-content[data-v-3e66491d] {
  display: flex;
  align-items: center;
  margin: 1.04167vw 0;
}

.courseRemind .newAiPop .warn-content .warn-text-box[data-v-3e66491d] {
  margin-left: 2.08333vw;
}

.courseRemind .newAiPop .warn-content .warn-text-box p[data-v-3e66491d] {
  color: hsla(0, 0%, 100%, 0.8);
  text-align: justify;
  font-family: "Alibaba PuHuiTi 3.0";
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 700;
  font-family: AlibabaPuHuiTi-Bold;
  line-height: normal;
}

.courseRemind .newAiPop .warn-content .warn-text-box .text-li[data-v-3e66491d] {
  align-items: center;
  display: flex;
  width: 17.70833vw;
  height: 2.5vw;
  padding: 0.46875vw 0.83333vw;
  color: #fff;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 700;
  font-family: AlibabaPuHuiTi-Bold;
  line-height: 1.5625vw;
  border-radius: 0.625vw;
  background: hsla(0, 0%, 100%, 0.08);
  margin-bottom: 1.25vw;
  box-sizing: border-box;
}

.courseRemind
  .newAiPop
  .warn-content
  .warn-text-box
  .text-li[data-v-3e66491d]:last-child {
  margin-bottom: 0.52083vw;
}

.courseRemind
  .newAiPop
  .warn-content
  .warn-text-box
  .text-li
  img[data-v-3e66491d] {
  width: 1.25vw;
  margin-right: 0.625vw;
}

.courseRemind .newAiPop .studyExam-div[data-v-3e66491d] {
  border-radius: 0.625vw;
  background: hsla(0, 0%, 100%, 0.08);
  padding: 1.25vw;
  margin-right: 1.04167vw;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind .newAiPop .studyExam-div .Examtime-div[data-v-3e66491d],
.courseRemind .newAiPop .studyExam-div .studytime-div[data-v-3e66491d] {
  display: flex;
  margin-bottom: 0.83333vw;
}

.courseRemind
  .newAiPop
  .studyExam-div
  .Examtime-div
  .Examtime-p1[data-v-3e66491d],
.courseRemind
  .newAiPop
  .studyExam-div
  .Examtime-div
  .studytime-p1[data-v-3e66491d],
.courseRemind
  .newAiPop
  .studyExam-div
  .studytime-div
  .Examtime-p1[data-v-3e66491d],
.courseRemind
  .newAiPop
  .studyExam-div
  .studytime-div
  .studytime-p1[data-v-3e66491d] {
  line-height: 1.5625vw;
  font-size: 1.04167vw;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  margin-right: 0.41667vw;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind
  .newAiPop
  .studyExam-div
  .Examtime-div
  .Examtime-p2[data-v-3e66491d],
.courseRemind
  .newAiPop
  .studyExam-div
  .Examtime-div
  .studytime-p2[data-v-3e66491d],
.courseRemind
  .newAiPop
  .studyExam-div
  .studytime-div
  .Examtime-p2[data-v-3e66491d],
.courseRemind
  .newAiPop
  .studyExam-div
  .studytime-div
  .studytime-p2[data-v-3e66491d] {
  line-height: 1.5625vw;
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind .newAiPop .studyExam-div .studyhint-p[data-v-3e66491d] {
  margin-top: 0.20833vw;
  color: #ff3c3c;
  font-family: Poppins;
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25vw;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind .newAiPop .AchievementRules-div[data-v-3e66491d] {
  margin-right: 1.04167vw;
}

.courseRemind .newAiPop .AchievementRules-div h1[data-v-3e66491d] {
  font-size: 1.04167vw;
  font-style: normal;
  font-weight: 1000;
  line-height: 1.5625vw;
  margin-top: 1.5625vw;
  color: #fff;
}

.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist[data-v-3e66491d] {
  margin-top: 1.66667vw;
}

.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist
  h2[data-v-3e66491d] {
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625vw;
  color: #fff;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist
  .p1[data-v-3e66491d] {
  margin-top: 0.41667vw;
}

.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist
  .p1[data-v-3e66491d],
.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist
  .p2[data-v-3e66491d] {
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25vw;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist
  .AchievementRulesbg-div[data-v-3e66491d] {
  border-radius: 0.625vw;
  background: hsla(0, 0%, 100%, 0.08);
  padding: 1.25vw;
  margin-top: 1.04167vw;
}

.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist
  .AchievementRulesbg-div
  ul
  li[data-v-3e66491d] {
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25vw;
  color: #fff;
  margin-bottom: 0.83333vw;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind
  .newAiPop
  .AchievementRules-div
  .AchievementRuleslist
  .AchievementRulesbg-div
  ul
  li[data-v-3e66491d]:last-child {
  margin-bottom: 0;
}

.courseRemind .newAiPop .AchievementRules-div img[data-v-3e66491d] {
  width: 100%;
  height: auto;
  margin-top: 1.66667vw;
}

.courseRemind .newAiPop .el-dialog__body .content-box[data-v-3e66491d] {
  padding: 0;
  padding-top: 1.25vw;
}

.courseRemind
  .newAiPop
  .el-dialog__body
  .content-box
  .my-class[data-v-3e66491d],
.courseRemind
  .newAiPop
  .el-dialog__body
  .content-box
  .my-teacher[data-v-3e66491d] {
  display: flex;
}

.courseRemind
  .newAiPop
  .el-dialog__body
  .content-box
  .my-class
  .title[data-v-3e66491d],
.courseRemind
  .newAiPop
  .el-dialog__body
  .content-box
  .my-teacher
  .title[data-v-3e66491d] {
  line-height: 2.5vw;
  font-size: 1.04167vw;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  margin-right: 0.9375vw;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind
  .newAiPop
  .el-dialog__body
  .content-box
  .my-class
  .name[data-v-3e66491d],
.courseRemind
  .newAiPop
  .el-dialog__body
  .content-box
  .my-teacher
  .name[data-v-3e66491d] {
  display: inline-block;
  width: 19.53125vw;
  height: 2.5vw;
  line-height: 2.5vw;
  padding: 0 0.625vw;
  box-sizing: border-box;
  background: hsla(0, 0%, 100%, 0.08);
  border-radius: 0.625vw;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemind
  .newAiPop
  .el-dialog__body
  .content-box
  .my-class[data-v-3e66491d] {
  margin-bottom: 1.25vw;
}

.courseRemindAd .el-dialog__header i[data-v-3e66491d] {
  top: -0.26042vw;
  right: 1.04167vw;
}

.courseRemindAd .el-dialog[data-v-3e66491d] {
  padding-top: 1.66667vw;
}

.courseRemindAd .el-dialog .el-dialog__body .content-box[data-v-3e66491d] {
  padding-top: 0.41667vw;
}

.courseRemindAd
  .el-dialog
  .el-dialog__body
  .content-box
  .content-text[data-v-3e66491d] {
  padding-left: 1.66667vw;
  width: 28.75vw;
  color: hsla(0, 0%, 100%, 0.8);
  text-align: justify;
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: AlibabaPuHuiTi-Bold;
}

.courseRemindAd
  .el-dialog
  .el-dialog__body
  .content-box
  .warn-content[data-v-3e66491d] {
  padding-left: 1.66667vw;
}

.courseRemindAd
  .el-dialog
  .el-dialog__body
  .content-box
  .warn-content
  .warn-text-box[data-v-3e66491d] {
  width: 17.70833vw;
}

.courseRemindAd[data-v-3e66491d] .el-dialog__footer {
  padding-top: 2.08333vw !important;
  padding-bottom: 0;
}

.classMsgDig .el-dialog__header i[data-v-3e66491d] {
  top: -0.26042vw;
  right: 1.04167vw;
}

.quit-con[data-v-3e66491d] {
  color: #fff;
  margin-top: 1.5625vw;
}

.yecode[data-v-3e66491d] {
  margin-top: 1.5625vw;
}

.yecode .text[data-v-3e66491d] {
  display: flex;
  align-items: center;
  margin-bottom: 1.04167vw;
}

.yecode .el-input[data-v-3e66491d] {
  width: 15.625vw;
  margin-right: 1.5625vw;
}

.yecode .s-canvas[data-v-3e66491d] {
  margin-right: 0.52083vw;
}

.yecode .change[data-v-3e66491d] {
  cursor: pointer;
}

.light .header-content[data-v-3e66491d] {
  color: #6b8cdb;
  background: #f5f6fb;
  backdrop-filter: blur(3.125vw);
}

.light .header-content .item.header-left .header-back i[data-v-3e66491d] {
  background-image: url(../images/arrow-left-light.png);
  border-radius: 50%;
}

.light .header-content .item.header-right .icon-item[data-v-3e66491d]:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.light .theme-mode[data-v-3e66491d]:after {
  background: rgba(0, 0, 0, 0.15);
}

.light .icon-item.icon-item1[data-v-3e66491d] {
  background-image: url(../images/icon-item1-light.png);
}

.light .icon-item.icon-item2[data-v-3e66491d] {
  background-image: url(../images/icon-item2-light.png);
}

.light .icon-item.icon-item3[data-v-3e66491d] {
  background-image: url(../images/icon-item3-light.png);
}

.light .icon-item.icon-item4[data-v-3e66491d] {
  background-image: url(../images/icon-item4-light.png);
}

.light .icon-item.icon-item5[data-v-3e66491d] {
  background-image: url(../images/icon-item5-light.png);
}

.light .icon-hover[data-v-3e66491d],
.light .tuikeIcon[data-v-3e66491d] {
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
}

.light .tuike[data-v-3e66491d] {
  background-image: url(../../src/assets/course-icons/arrow-right-md.svg);
}

.light .fu-header-users-3[data-v-3e66491d] {
  color: #fff !important;
  overflow: hidden;
  background: #000 !important;
}

.light .fu-header-users-3 > [data-v-3e66491d],
.light .user.name[data-v-3e66491d],
.light .user[data-v-3e66491d] {
  color: #000;
}

.dark .header-content[data-v-3e66491d] {
  color: #fff;
  background: hsla(0, 0%, 100%, 0.03);
  backdrop-filter: blur(3.125vw);
}

.dark .theme-mode[data-v-3e66491d]:after {
  background: hsla(0, 0%, 100%, 0.65);
}

.dark .icon-item.icon-item1[data-v-3e66491d] {
  background-image: url(../images/icon-item1-dark.png);
}

.dark .icon-item.icon-item2[data-v-3e66491d] {
  background-image: url(../images/icon-item2-dark.png);
}

.dark .icon-item.icon-item3[data-v-3e66491d] {
  background-image: url(../images/icon-item3-dark.png);
}

.dark .icon-item.icon-item4[data-v-3e66491d] {
  background-image: url(../images/icon-item4-dark.png);
}

.dark .icon-item.icon-item5[data-v-3e66491d] {
  background-image: url(../images/icon-item5-dark.png);
}

.dark .icon-hover[data-v-3e66491d],
.dark .tuikeIcon[data-v-3e66491d] {
  color: #fff;
  background: hsla(0, 0%, 100%, 0.08);
}

.dark .fu-header-users-3[data-v-3e66491d] {
  color: #fff;
}

.dark .user.name[data-v-3e66491d],
.dark .user[data-v-3e66491d] {
  background: #000;
  color: hsla(0, 0%, 100%, 0.65);
}
