.course-page .hover-box[data-v-1139a0f7] {
  opacity: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-page .hover-box .side-name[data-v-1139a0f7] {
  color: #666;
  text-align: center;
  font-family: "Alibaba PuHuiTi 3.0";
  font-size: 0.625vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0.25vw;
}

.course-page .hover-box[data-v-1139a0f7]:hover {
  opacity: 0.3;
}

.course-page .hover-box.dark[data-v-1139a0f7] {
  opacity: 0.4;
}

.course-page .hover-box.dark.active .side-name[data-v-1139a0f7],
.course-page .hover-box.dark .side-name[data-v-1139a0f7] {
  color: #fff;
}

.course-page .hover-box.dark[data-v-1139a0f7]:hover {
  opacity: 0.6;
}

.course-page .hover-box.active[data-v-1139a0f7],
.course-page .hover-box.active[data-v-1139a0f7]:hover {
  opacity: 1;
}

.course-page .hover-box.active .side-name[data-v-1139a0f7] {
  color: #6b8cdb;
}

.course-page .layout-sidebar[data-v-8289e326] {
  position: fixed;
  top: 2.60417vw;
  width: 3.75vw;
  left: 1.5625vw;
  padding: 0.78125vw 0;
  border-radius: 0.83333vw;
  box-shadow: 0 0 1.04167vw 0 rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(1.04167vw);
  box-sizing: border-box;
  text-align: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.course-page .layout-sidebar .line[data-v-8289e326] {
  width: 1.66667vw;
  margin: 0 1.04167vw;
  height: 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  margin-bottom: 1.04167vw;
}

.course-page .layout-sidebar .line[data-v-8289e326]:last-child {
  display: none;
}

.course-page .layout-sidebar .item[data-v-8289e326] {
  position: relative;
  margin-bottom: 0.78125vw;
  cursor: pointer;
}

.course-page .layout-sidebar .item img[data-v-8289e326] {
  width: 2.08333vw;
}

.course-page .layout-sidebar .item[data-v-8289e326]:after {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 0.20833vw;
  height: 2.08333vw;
  border-radius: 0.15625vw 0 0 0.15625vw;
  background-color: #6b8cdb;
}

.course-page .layout-sidebar .item.active[data-v-8289e326]:after {
  display: block;
}

.course-page .layout-sidebar .item[data-v-8289e326]:last-child {
  margin-bottom: 0;
}

.course-page .layout-sidebar.light[data-v-8289e326] {
  background: transparent;
}

.course-page .layout-sidebar.light .line[data-v-8289e326] {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

.course-page .layout-sidebar.dark[data-v-8289e326] {
  background: hsla(0, 0%, 100%, 0.05);
}

.course-page .mypopper.el-tooltip__popper.is-dark {
  background-color: #000;
}

.course-page .el-tooltip__popper[x-placement^="right"] .popper__arrow,
.course-page .el-tooltip__popper[x-placement^="right"] .popper__arrow:after {
  border-right-color: #000 !important;
}

.course-page .leftMypopper.el-tooltip__popper.is-dark {
  padding: 0.20833vw 0.625vw;
  border-radius: 0.41667vw;
  background: hsla(0, 0%, 100%, 0.08);
  line-height: 1.25vw;
  font-size: 0.83333vw;
  color: #fff;
  z-index: 9999;
  left: 6.25vw !important;
}

.course-page .leftMypopper.el-tooltip__popper .popper__arrow {
  left: -0.3125vw !important;
  top: 0.41667vw !important;
  border-right-color: hsla(0, 0%, 100%, 0.08) !important;
}

.course-page .leftMypopper.el-tooltip__popper .popper__arrow:after {
  border-right-color: hsla(0, 0%, 100%, 0.08) !important;
}

.course-page .layout-container .layout-inner-content[data-v-2cf49992],
.course-page .layout-container[data-v-2cf49992] {
  position: relative;
}

.course-page .layout-container .layout-inner-content[data-v-2cf49992]:after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../images/layout-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  filter: blur(1.5625vw);
  z-index: -1;
  background-attachment: fixed;
}

.course-page .layout-container .layout-inner-content.isAtlas[data-v-2cf49992] {
  background-image: radial-gradient(#1e1e31 0.08073vw, #121226 0);
  background-size: 1.09375vw 1.09375vw;
}
