@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.map-loading[data-v-1d50a08c] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.map-loading-content[data-v-1d50a08c] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-loading-content img[data-v-1d50a08c] {
  width: 5.20833vw;
  height: 5.20833vw;
}

.map-loading-content p[data-v-1d50a08c] {
  color: #fff;
  font-size: 0.72917vw;
  animation: twinkle 1s linear infinite;
}

.map-loading-content .progress-bar[data-v-1d50a08c] {
  width: 6.25vw;
  background: #8a8a8e;
  height: 0.20833vw;
  margin-top: 0.83333vw;
  border-radius: 0.52083vw;
  overflow: hidden;
}

.map-loading-content .progress-bar .lump[data-v-1d50a08c] {
  width: 0.9375vw;
  height: 100%;
  background: #8180ff;
  position: relative;
  left: 0;
  animation: slide 1.8s linear infinite;
}

.hight-light-nodes-box[data-v-2b468c8f] {
  position: fixed;
  left: 6.25vw;
  top: 5.3125vw;
  display: flex;
  width: 16.66667vw;
  padding: 0.625vw 0.83333vw;
  padding-right: 0.52083vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.83333vw;
  background: hsla(0, 0%, 100%, 0.15);
  backdrop-filter: blur(2.08333vw);
  box-sizing: border-box;
  z-index: 102;
}

.hight-light-nodes-box.isFold .title-box[data-v-2b468c8f] {
  margin-bottom: 0;
}

.hight-light-nodes-box.isFold .list[data-v-2b468c8f] {
  height: 0 !important;
  transition: height 0.3s ease;
}

.hight-light-nodes-box .title-box[data-v-2b468c8f] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1.5625vw;
  margin-bottom: 0.625vw;
}

.hight-light-nodes-box .title-box .title[data-v-2b468c8f] {
  position: relative;
  color: #fff;
  font-family: "Alibaba PuHuiTi 3.0";
  font-size: 0.83333vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625vw;
  padding-left: 0.52083vw;
}

.hight-light-nodes-box .title-box .title[data-v-2b468c8f]:after {
  display: block;
  content: "";
  left: 0;
  top: 0.36458vw;
  position: absolute;
  border-radius: 0.10417vw;
  background: #7061fd;
  width: 0.20833vw;
  height: 0.83333vw;
  border-radius: 2px;
}

.hight-light-nodes-box .title-box .open-close[data-v-2b468c8f] {
  position: relative;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
  font-family: "Alibaba PuHuiTi 3.0";
  font-size: 0.72917vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding-right: 1.04167vw;
  cursor: pointer;
  user-select: none;
}

.hight-light-nodes-box .title-box .open-close[data-v-2b468c8f]:after {
  display: block;
  content: "";
  right: 0.3125vw;
  top: 0.20833vw;
  width: 0.41667vw;
  height: 0.41667vw;
  position: absolute;
  background-image: url(../../assets/img/chunk-4/e58e4cb7980741c095dd7b69c1221850.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% auto;
  transform: rotate(180deg);
}

.hight-light-nodes-box .title-box .open-close.fold[data-v-2b468c8f]:after {
  transform: rotate(0);
}

.hight-light-nodes-box .list[data-v-2b468c8f] {
  width: 100%;
  box-sizing: border-box;
  height: 13.125vw;
  overflow-y: scroll;
  padding-right: 0.3125vw;
  transition: height 0.3s ease;
}

.hight-light-nodes-box .list .item[data-v-2b468c8f] {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.08333vw;
  padding: 0.41667vw;
  border-radius: 0.41667vw;
  box-sizing: border-box;
  margin-bottom: 0.20833vw;
}

.hight-light-nodes-box .list .item[data-v-2b468c8f]:hover {
  background: hsla(0, 0%, 100%, 0.1);
}

.hight-light-nodes-box .list .item.active[data-v-2b468c8f] {
  background: #7061fd;
}

.hight-light-nodes-box .list .item.active span.t[data-v-2b468c8f] {
  color: #fff;
}

.hight-light-nodes-box .list .item span[data-v-2b468c8f] {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Alibaba PuHuiTi 3.0";
  font-size: 0.72917vw;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 2em;
}

.hight-light-nodes-box .list .item span.t[data-v-2b468c8f] {
  margin-left: 0.41667vw;
}

.light .hight-light-nodes-box[data-v-2b468c8f] {
  background: #fff;
}

.light .hight-light-nodes-box .title-box .title[data-v-2b468c8f] {
  color: #000;
}

.light .hight-light-nodes-box .open-close[data-v-2b468c8f] {
  color: rgba(0, 0, 0, 0.6);
}

.light .hight-light-nodes-box .open-close[data-v-2b468c8f]:after {
  background-image: url(../../assets/img/chunk-4/b89e0edf94024b32a7e78922c2f5c50c.png);
}

.light .hight-light-nodes-box .list .item span[data-v-2b468c8f] {
  color: rgba(0, 0, 0, 0.6);
}

.light .hight-light-nodes-box .list .item[data-v-2b468c8f]:hover {
  border-radius: 0.41667vw;
  background: rgba(0, 0, 0, 0.03);
}

.light .hight-light-nodes-box .list .item.active span[data-v-2b468c8f] {
  color: hsla(0, 0%, 100%, 0.6);
}

.light .hight-light-nodes-box .list .item.active .t[data-v-2b468c8f] {
  color: #fff;
}

.light .hight-light-nodes-box .list .item.active[data-v-2b468c8f]:hover {
  background: #604ffd;
}
