# Production web build
VITE_PUBLIC_PATH = /
VITE_API_URL = https://example.com
VITE_ROUTER_HISTORY = "hash"
VITE_CDN = false
VITE_COMPRESSION = "none"
VITE_DOCMEE_API_KEY = ""
VITE_DOCMEE_CONTAINER_ID = ""
