# WeChat Mini Program web-view H5 build.
# Copy to .env.wechat-h5 locally before building a public HTTPS H5 deployment.
VITE_PUBLIC_PATH = /
VITE_API_URL = https://aiedu-api.intelledu.cn
VITE_ROUTER_HISTORY = "hash"
VITE_CDN = false
VITE_COMPRESSION = "none"
VITE_DOCMEE_API_KEY = ""
VITE_DOCMEE_CONTAINER_ID = ""
