# Development server
VITE_PORT = 8848
VITE_PUBLIC_PATH = /
VITE_API_URL = /api
VITE_PROXY_TARGET = https://example.com
VITE_MOCK_SCOPE = exam-paper-only
VITE_ROUTER_HISTORY = "hash"
VITE_DOCMEE_API_KEY = ""
VITE_DOCMEE_CONTAINER_ID = ""
