shell-emulator=true
shamefully-hoist=true
enable-pre-post-scripts=false
strict-peer-dependencies=false
package-import-method=copy
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=core-js
only-built-dependencies[]=cos-js-sdk-v5
only-built-dependencies[]=es5-ext
only-built-dependencies[]=esbuild
only-built-dependencies[]=typeit
only-built-dependencies[]=vue-demi
